<a href="https://colab.research.google.com/github/larissacybyk/DS-2002/blob/main/JSON_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

JSON Manipulation HW Feb 18

In [ ]:
import json
import pandas as pd

# Loading into dataframe
f = open('bb_SortByConf.json')
json_data = f.read()
data = json.loads(json_data)
df = pd.DataFrame(data['teams'])

# first 100 rows
print(df.head(100), "\n")

# answering questions
num_teams = df.shape[0]
virginia_teams = (df["state"] == "VA").sum()

print("There are " + str(num_teams) + " teams.")
print("There are " + str(virginia_teams) + " teams in Virginia.")
print("Duplicate mascots:")

grouped = df.groupby("name")

duplicates = df['name'].value_counts()
duplicates = duplicates[duplicates > 1]
print(duplicates)

    tid  cid  did                region       name  abbrev  pop  \
0   159    0    0        Boston College     Eagles      BC  161
1   105    0    0               Clemson     Tigers    CLEM  215
2   109    0    0         Florida State  Seminoles     FSU  211
3    18    0    0            Louisville  Cardinals      UL  302
4    31    0    0  North Carolina State   Wolfpack    NCST  289
..  ...  ...  ...                   ...        ...     ...  ...
95  300    5   11    Jacksonville State  Gamecocks  JVILLE   20
96   72    6   12    Eastern Washington     Eagles   EWASH  248
97  139    6   12      Sacramento State    Hornets   SACST  181
98  239    6   12     Northern Colorado      Bears   NOCOL   81
99  266    6   12                 Idaho    Vandals      UI   54

             city state  latitude  longitude
0   Chestnut Hill    MA    42.330    -71.166
1         Clemson    SC    34.678    -82.839
2     Tallahassee    FL    30.442    -84.298
3      Louisville    KY    38.250    -85.766
4         Raleigh    NC    35.786    -78.682
..            ...   ...       ...        ...
95   Jacksonville    AL    33.815    -85.760
96         Cheney    WA    47.488   -117.578
97     Sacramento    CA    38.555   -121.468
98        Greeley    CO    40.416   -104.716
99         Moscow    ID    46.730   -117.000

[100 rows x 11 columns]

There are 320 teams.
There are 13 teams in Virginia.
Duplicate mascots:
Bulldogs         13
Eagles           10
Tigers            9
Panthers          8
Wildcats          8
Huskies           5
Rams              4
Bears             4
Aggies            4
Golden Eagles     4
Spartans          4
Cougars           4
Owls              4
Cardinals         4
Hawks             4
Bobcats           3
Redhawks          3
Hornets           3
Mountaineers      3
Cowboys           3
Vikings           3
Pirates           3
Jaguars           3
Terriers          3
Broncos           3
Trojans           3
Crusaders         2
Catamounts        2
Knights           2
Titans            2
Mustangs          2
Mavericks         2
Highlanders       2
Bulls             2
Lions             2
Lumberjacks       2
Bisons            2
Bruins            2
Roadrunners       2
Gaels             2
Colonials         2
Dukes             2
Raiders           2
Bison             2
49ers             2
Buccaneers        2
Phoenix           2
Gamecocks         2
Rebels            2
Pioneers          2
Falcons           2
Wolverines        2
Name: name, dtype: int64