<a href="https://colab.research.google.com/github/larissacybyk/DS-2002/blob/main/MongoLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Connect to MongoDB

In [1]:
!pip install pymongo
import os
import datetime
import pymongo
import pprint
import pandas as pd

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.6.1)

In [8]:
host_name = "localhost"
port = "27017"

atlas_cluster_name = "cluster0.xuibg2h"
atlas_default_dbname = "sakila"
atlas_user_name = "ds2002sp23"
atlas_password = "uva1819"

In [11]:
conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

client.list_database_names()

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002sp23:uva1819@cluster0.xuibg2h.mongodb.net/sakila

['DS2002Final',
 'DiegoMcgrath_class',
 'ElijahKim_class',
 'Emaan_class',
 'JackNickerson_class',
 'JamesDraudt_class',
 'MaxChang_class',
 'MiaArk_class',
 'SebastianWiktorowicz_class',
 'Siona_Pathak_class',
 'StoreProducts',
 'VarunPavuloori_class',
 '_class',
 'aidantan_class',
 'anagha_class',
 'anisha_class',
 'api_project',
 'blog',
 'eva_class',
 'grace_class',
 'kaylasprincis_class',
 'project',
 'ronit_class',
 'sakila',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'sp_project2',
 'sutherland_class',
 'admin',
 'local']

Exercise 2: creating and using a database

In [12]:
# Creating database
db_name = "Larissa_class"
db = client[db_name]

# list of collections
db.list_collection_names()

[]

Exercise 3: creating a collection and inserting documents

In [13]:
# creating collections & inserting one
student = {"name": "Larissa",
        "major": "CS",
        "minor": "Data Science",
        "year": 3,
        "age": 20
       }

students = db.students
student_id = students.insert_one(student).inserted_id

# inserting multiple
student2 = {"name": "Helen",
        "major": "CS",
        "minor": "Business",
        "year": 3,
        "age": 20
       }
student3 = {"name": "Maggie",
        "major": "CS",
        "minor": "Computer Engineering",
        "year": 3,
        "age": 20
       }
new_students = [student2, student3]

students.insert_many(new_students)

Databases:  ['AlbertHuang_class', 'DS2002Final', 'DiegoMcgrath_class', 'ElijahKim_class', 'Emaan_class', 'JackNickerson_class', 'JamesDraudt_class', 'Larissa_class', 'MaxChang_class', 'MiaArk_class', 'SebastianWiktorowicz_class', 'Siona_Pathak_class', 'StoreProducts', 'VarunPavuloori_class', '_class', 'aidantan_class', 'anagha_class', 'anisha_class', 'api_project', 'blog', 'eva_class', 'grace_class', 'kaylasprincis_class', 'project', 'ronit_class', 'sakila', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'sp_project2', 'sutherland_class', 'admin', 'local']
Collections:  ['students']

Exercise 4: Querying documents

In [18]:
# query for all
for student in students.find():
    pprint.pprint(student)

# query for one
found = students.find_one( {"minor": "Business"})
pprint.pprint(found)

{'_id': ObjectId('6600c3edecee4dbde95436db'),
 'age': 20,
 'major': 'CS',
 'minor': 'Data Science',
 'name': 'Larissa',
 'year': 3}
{'_id': ObjectId('6600c3eeecee4dbde95436dc'),
 'age': 20,
 'major': 'CS',
 'minor': 'Business',
 'name': 'Helen',
 'year': 3}
{'_id': ObjectId('6600c3eeecee4dbde95436dd'),
 'age': 20,
 'major': 'CS',
 'minor': 'Computer Engineering',
 'name': 'Maggie',
 'year': 3}
{'_id': ObjectId('6600c3eeecee4dbde95436dc'),
 'age': 20,
 'major': 'CS',
 'minor': 'Business',
 'name': 'Helen',
 'year': 3}

Exercise 5: updating documents

In [19]:
# update one
students.update_one({"name":"Helen"}, {"$set":{"age":21}})

#update many
students.update_many({"major":"CS"}, {"$set": {"major":"Computer Science"}})

for student in students.find():
    pprint.pprint(student)

{'_id': ObjectId('6600c3edecee4dbde95436db'),
 'age': 20,
 'major': 'Computer Science',
 'minor': 'Data Science',
 'name': 'Larissa',
 'year': 3}
{'_id': ObjectId('6600c3eeecee4dbde95436dc'),
 'age': 21,
 'major': 'Computer Science',
 'minor': 'Business',
 'name': 'Helen',
 'year': 3}
{'_id': ObjectId('6600c3eeecee4dbde95436dd'),
 'age': 20,
 'major': 'Computer Science',
 'minor': 'Computer Engineering',
 'name': 'Maggie',
 'year': 3}

Exercise 6: Deleting documents

In [20]:
# delete one
students.delete_one({"name":"Helen"})

# delete many
students.delete_many({"age":20})

for student in students.find():
    pprint.pprint(student)